{% load cms_tags sekizai_tags %}
{% load static %}
{% load menu_tags %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {% block header %}
        <title>{% page_attribute "page_title" %}</title>
    {% endblock %}
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href="{% static 'img/logo/favicon.ico' %}" rel="icon" sizes="16x16">
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/notifications.css' %}" rel="stylesheet">
    <link href="{% static 'css/python.css' %}" rel="stylesheet">
    <link href="{% static 'css/code_highligthting.css' %}" rel="stylesheet">
    <link href="{% static 'js/side-comments/release/side-comments.css' %}" rel="stylesheet">
    <link href="{% static 'js/side-comments/release/themes/default-theme.css' %}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    {% render_block "css" %}
</head>
<body>
{% cms_toolbar %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding-top:0px; padding-bottom:0px">
    <div class="container d-flex justify-content-between">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <img alt="Python logo" class="header-logo" src="{% static 'img/logo/logo-colour.png' %}"/>
            <strong style="color:white">
                Učíme s Hardvérom
            </strong>
        </a>
        <button aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler" data-target="#navbarNavAltMarkup" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="justify-content-end collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <ul class="navbar-right navbar-nav justify-content-end">
                    {% show_menu 0 1 100 100 "navigation.html" %}
                </ul>
            </div>
        </div>
    </div>
</nav>

<main role="main">
    {% block main_content %}{% endblock %}
</main>

{% include 'mailinglist.html' %}

<footer class="text-muted text-center">
    {% include 'footer.html' %}
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script>
    window.jQuery || document.write('<script src = "{% static 'js/vendor/jquery.min.js' %}"><\/script>')
</script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/vendor/holder.min.js' %}"></script>
<script src="{% static 'js/side-comments/release/side-comments.js' %}"></script>
{% render_block "js" %}

</body>
</html>