    <div class="container pt-4">
        <p>
            <b>SPy o.z.</b> |
            <b>marek.mansell@pycon.sk</b> |
            <b>+421 904 010 424</b>
        <p>
        <p>
            <small>Projekt <b>Učíme s Hardvérom</b> je realizovaný Python komunitou a
                {#  TODO: link to Django CMS page... #}
                <a href="/zapoj-sa/ako-dobrovolnik/">zapojiť sa môžeš aj Ty!</a>
            </small>
        </p>
        <p class="float-right">
            <a class="btn btn-outline-primary btn-sm" href="#top">Späť na začiatok</a>
        </p>
    </div>