{% for child in children %}
    <!-- no child pages  -->
    {% if child.is_leaf_node %}
        <li class="nav-item"><a class="nav-link" href="{{ child.get_absolute_url }}">{{child.get_menu_title }}</a></li>
    {% endif %}
    <!-- /no child pages  -->
    <!-- has child pages  -->
    {% if not child.is_leaf_node or child.ancestor %}
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
            {{child.get_menu_title }}<b class="caret"></b></a>
            <ul class="dropdown-menu">
                {% if child.get_descendants %}
                    {% for kid in child.get_descendants %}
                        <li>
                            <a class="dropdown-item" href="{{ kid.get_absolute_url }}">
                                {{kid.get_menu_title }}
                            </a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </li>
    {% endif %}
<!-- /has child pages  -->
{% endfor %}
<!--ALLAUTH LOGIN OR REGISTRATION-->
{% if not user.is_authenticated %}
    <li class="nav-item">
        <a href="/accounts/login/?next={{ request.path }}">
            <button class="btn btn-outline-light navbar-btn">Login</button>
        </a>
    </li>
{% else %}
    <li class="nav-item">
        <a href="/accounts/logout/">
            <button class="btn btn-outline-dark navbar-btn">Logout</button>
        </a></li>
{% endif %}
